node_modules/
npm-debug.log*
yarn-error.log*

.env
.env.*
*.pem
*.key

terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfvars
terraform/crash.log

kubeconfig*
*.kubeconfig
eks-kubeconfig.yaml

.DS_Store
Thumbs.db
.vscode/
.idea/

*.log